.square-10em {
  width:10em;
  height:10em;
  border-style:solid;
  margin:0.5em;
}

.border-side-style-example {
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dashed;
  border-left-style: double;
}

.border-side-shorthand-example {
  border-top: 1px dotted cyan;
  border-right: 2px solid magenta;
  border-bottom: 3px dashed yellow;
  border-left: 4px double black;
}

.margin-side-example {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
}

.padding-side-example {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 40px;
}

.text-examples-container > p {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px 0px;
}

/* START LINK EXAMPLE */
.link-example:link {
  text-decoration:none;
  color:white;
  background-color:#220000;
  padding:10px 20px;
  display:inline-block;
  border-radius:10px;
}

.link-example:visited {
  color:white;
  background-color:blue;
}

.link-example:hover {
  background-color:#bb0000;
}

.link-example:active {
  background-color:#550000;
}
/* END LINK EXAMPLE */

/* START TABLE EXAMPLE */
table {
  margin:1em;
}

.table-example-1, .table-example-1 th, .table-example-1 td {
  border: 2px solid black;
}

.table-example-2 {
  width:50%;
}

.table-example-2, .table-example-2 th, .table-example-2 td {
  border: 2px solid black;
}

.table-example-3 {
  border-collapse:collapse;
}

.table-example-3, .table-example-3 th, .table-example-3 td {
  border: 2px solid black;
}

.table-example-4 {
  border-collapse:collapse;
  height:100px;
}

.table-example-4, .table-example-4 th, .table-example-4 td {
  border: 2px solid black;
}

.table-example-5 {
  border-collapse:collapse;
  text-align:center;
}

.table-example-5, .table-example-5 th, .table-example-5 td {
  border: 2px solid black;
}

.table-example-6 {
  border-collapse:collapse;
  height:100px;
}

.table-example-6, .table-example-6 th, .table-example-6 td {
  border: 2px solid black;
}

.table-example-6 td {
  vertical-align:bottom;
}

.table-example-7 {
  border-collapse:collapse;
}

.table-example-7, .table-example-7 th, .table-example-7 td {
  border: 2px solid black;
}

.table-example-7 td {
  padding:10px;
}

.table-example-8 {
  border-collapse:collapse;
}

.table-example-8, .table-example-8 th, .table-example-8 td {
  border: 2px solid black;
}

.table-example-8 tr:hover {
  background-color:red;
}

.table-example-9 {
  border-collapse:collapse;
}

.table-example-9, .table-example-9 th, .table-example-9 td {
  border: 2px solid black;
}

.table-example-9 tr:nth-child(even) {
  background-color:red;
}
/* END TABLE EXAMPLE */

.position-fixed-example {
  height:100px;
  width:160px;
  border:1px solid black;
  background-color:white;
  position:fixed;
  right:0px;
  bottom:0px;
}

.position-absolute-example {
  height:100px;
  width:120px;
  background-color:red;
  border-style:solid;
  position:absolute;
  bottom:0;
  right:0;
}

/* START Z-INDEX EXAMPLE */

.z-index-container {
  width:10em;
  height:10em;
  position:relative;
}

.z-index-box-1 {
  width:7em;
  height:7em;
  position:absolute;
  top:0;
  left:9;
  background-color:red;
}

.z-index-box-2 {
  width:6em;
  height:6em;
  position:absolute;
  bottom:0;
  right:0;
  background-color:blue;
}

/* END Z-INDEX EXAMPLE */

.clearfix::after {
  content:"";
  clear:both;
  display:table;
}

.inline-block-example {
  width:30px;
  height:30px;
  outline:1px solid black;
  padding:5px;
  margin:5px;
}

/* START NAVBAR EXAMPLE */

.navbar-example-general a {
  text-decoration:none;
  color:white;
  background-color:green;
  padding:5px;
}

.navbar-example-general a:hover {
  background-color:black;
}

.navbar-example-vertical {
  width:100px;
}

.navbar-example-vertical a {
  display:block;
}

/* END NAVBAR EXAMPLE */

/* START DROPDOWN EXAMPLE */

.dropdown-example {
  position:relative;
  width:100px;
}

.dropdown-example span {
  display:block;
  color:white;
  background-color:black;
  padding:10px;
}

.dropdown-content-example {
  display:none;
}

.dropdown-example:hover .dropdown-content-example {
  display:block;
  z-index:1;
  position:absolute;
  width:100px;
}

.dropdown-content-example a {
  display:block;
  color:white;
  background-color:green;
  text-decoration:none;
  padding:10px;
}

.dropdown-content-example a:hover {
  background-color:black;
}

/* END DROPDOWN EXAMPLE */

/* START COUNTER EXAMPLE */

.counter-example-div-1 {
  counter-reset:counter-example-1;
}

.counter-example-div-1 p::before {
  counter-increment:counter-example-1;
  content:"Counter value: " counter(counter-example-1);
}

.counter-example-div-2 {
  counter-reset:counter-example-2-main;
}

.counter-example-div-2 > div {
  counter-increment:counter-example-2-main;
  counter-reset:counter-example-2-sub;
}

.counter-example-div-2 > div > div::before {
  counter-increment:counter-example-2-sub;
  content:"Counter value: "counter(counter-example-2-main) ", " counter(counter-example-2-sub);
}

.counter-example-div-3 ol {
  list-style-type:none;
  counter-reset:counter-example-3;
}

.counter-example-div-3 li::before {
  counter-increment:counter-example-3;
  content:counters(counter-example-3, ".") " ";
}
/* END COUNTER EXAMPLE */

/* START BACKGROUND EXAMPLES */
.background-image-example-1 {
  background-image:url("images/ayaya-64.png"), url("images/paper-texture.jpg");
  background-position:right bottom, left top;
  background-repeat:no-repeat, repeat;
}

.background-image-example-2 {
  background-image:url("images/ayaya-512.png"), url("images/ayaya-512.png"), url("images/ayaya-512.png");
  background-position:right bottom, right bottom, right bottom;
  background-size:32px 32px, 64px 64px, 160px 160px;
  background-repeat:no-repeat;
}

.background-image-example-3 {
  background-image:url("images/ayaya-160.png");
  padding:10px;
  background-origin:border-box;
}

.background-image-example-4 {
  background-image:url("images/ayaya-160.png");
  padding:10px;
  background-origin:padding-box;
}

.background-image-example-5 {
  background-image:url("images/ayaya-160.png");
  padding:10px;
  background-origin:content-box;
}

.background-image-example-6 {
  background-color:red;
  background-clip:border-box;
  padding:10px;
}

.background-image-example-7 {
  background-color:red;
  background-clip:padding-box;
  padding:10px;
}

.background-image-example-8 {
  background-color:red;
  background-clip:content-box;
  padding:10px;
}
/* END BACKGROUND EXAMPLES */

@font-face {
  font-family:using-font-face;
  src:url("fonts/supermercadoone-regular.ttf");
}

/* START TRANSFORM EXAMPLES */
.translate-example:hover {
  transform:translate(50px, 100px);
}

.rotate-example:hover {
  transform:rotate(-20deg);
}

.scale-example-1:hover {
  transform:scale(2, 3);
}

.scale-example-2:hover {
  transform:scale(0.5, 0.5);
}

.scale-example-3:hover {
  transform:scale(2, 1);
}

.scalex-example:hover {
  transform:scaleX(2);
}

.scaley-example:hover {
  transform:scaleY(2);
}

.skewx-example:hover {
  transform:skewx(20deg);
}

.skewy-example:hover {
  transform:skewY(20deg);
}

.skew-example:hover {
  transform:skew(20deg, 10deg);
}

.rotatex-example:hover {
  transform:rotateX(150deg);
}

.rotatey-example:hover {
  transform:rotateY(150deg);
}

.rotatez-example:hover {
  transform:rotateZ(150deg);
}
/* END TRANSFORM EXAMPLES */

/* START TRANSITION EXAMPLES */
.transition-example-1 {
  transition:width 2s;
}

.transition-example-1:hover {
  width:20em;
}

.transition-example-2 {
  transition:width 2s, height 4s;
}

.transition-example-2:hover {
  width:20em;
  height:20em;
}

.transition-example-3 {
  transition:transform 4s ease 1s;
}

.transition-example-3:hover {
  transform:scale(2,4);
}

.transition-timing-function-example-1 {
  transition:transform 4s;
  transition-timing-function:linear;
}

.transition-timing-function-example-1:hover {
   transform:rotate(360deg);
}

.transition-timing-function-example-2 {
  transition:transform 4s;
  transition-timing-function:ease;
}

.transition-timing-function-example-2:hover {
   transform:rotate(360deg);
}

.transition-timing-function-example-3 {
  transition:transform 4s;
  transition-timing-function:ease-in;
}

.transition-timing-function-example-3:hover {
   transform:rotate(360deg);
}

.transition-timing-function-example-4 {
  transition:transform 4s;
  transition-timing-function:ease-out;
}

.transition-timing-function-example-4:hover {
   transform:rotate(360deg);
}

.transition-timing-function-example-5 {
  transition:transform 4s;
  transition-timing-function:ease-in-out;
}

.transition-timing-function-example-5:hover {
   transform:rotate(360deg);
}

.transition-delay-example {
  transition:transform 4s;
  transition-delay: 1s;
}

.transition-delay-example:hover {
  transform:rotate(360deg);
}
/* END TRANSITION EXAMPLES */

/* START ANIMATION EXAMPLE */
@keyframes my-animation {
  from { background-color:cyan; }
  to { background-color:red; transform:rotate(360deg); }
}

.animation-example-1 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
}

.animation-example-2 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
  animation-delay:1s;
}

.animation-example-3 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
  animation-delay:-3s;
}

.animation-example-4 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
  animation-iteration-count:2;
}

.animation-example-5 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
  animation-iteration-count:infinite;
}

.animation-example-6 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
  animation-direction:reverse;
}

.animation-example-7 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
  animation-iteration-count:2;
  animation-direction:alternate;
}

.animation-example-8 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
  animation-iteration-count:2;
  animation-direction:alternate-reverse;
}

.animation-example-9 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
  animation-timing-function:linear;
}

.animation-example-10 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
  animation-timing-function:ease;
}

.animation-example-11 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
  animation-timing-function:ease-in;
}

.animation-example-12 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
  animation-timing-function:ease-out;
}

.animation-example-13 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
  animation-timing-function:ease-in-out;
}

.animation-example-14 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
  animation-fill-mode:forwards;
}

.animation-example-15 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
  animation-delay:2s;
  animation-fill-mode:backwards;
}

.animation-example-16 {
  width:160px;
  height:160px;
  animation-name:my-animation;
  animation-duration:10s;
  animation-delay:2s;
  animation-fill-mode:both;
}

.animation-example-17 {
  width:160px;
  height:160px;
  animation:my-animation 10s linear 1s infinite alternate;
}
/* END ANIMATION EXAMPLES */